/* MAIN */

main {
    display: flex;
    height: 1745px;
    justify-content: space-evenly;
}


/* MAIN-BLOCK */

.main-block {
    display: flex;
    flex-direction: column;
    width: 730px;
}


/* SECTION */

section {
    display: flex;
    flex-direction: column;
    /* height: 1152px; */
    width: 730px;
    margin-bottom: 56px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

section h1 {
    padding-top: 24px;
    padding-bottom: 8px;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    padding-left: 24px;
}

section h5 {
    padding-bottom: 14px;
    font-weight: 400;
    font-size: 12px;
    /* line-height: 16px; */
    color: #929292;
    padding-left: 24px;
}

.paragraph {
    text-align: justify;
    padding: 0px 24px 24px;
}

.paragraph-first {
    padding-top: 24px;
    text-align: justify;
    padding-right: 24px;
    padding-left: 24px;
    padding-bottom: 24px;
}

.paragraph, .paragraph-first, #first-ul, #second-ul {
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 19px;
}

#first-ul, #second-ul {
    padding-left: 48px;
    padding-right: 24px;
}

#first-ul #second-ul li {
    padding-bottom: 5px;
}

/* COMMENTS */

#comments {
    height: 100px;
    width: 100px;
    width: 730px;
}

#comments h2 {
    margin-bottom: 24px;
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
    line-height: 32px;
}

#data {
    display: flex;
    margin-bottom: 24px;
    justify-content: space-between;
}

#name h4, #email h4, #comment h4 {
    margin-bottom: 8px;
    font-weight: 400; 
    font-size: 14px;
    line-height: 19px;
}


#comment {
    display: flex;
    flex-direction: column;
    width: 730px;
}

#input-name, #input-email {
    width: 354px;
    height: 42px;
}

#input-name, #input-email, #input-comment {
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    box-sizing: border-box;
    border-radius: 2px;
}

#input-name:hover, #input-email:hover, #input-comment:hover {
    background: #FFFFFF;
    border: 1px solid #FE0078;
    box-sizing: border-box;
    border-radius: 2px;
}

#input-comment {
    width: 730px;
    height: 175px;
    margin-bottom: 48px;
}

#button-comment {
    display: flex;
    align-items: center;
    padding: 12px 24px;
    width: 118px;
    height: 43px;
    background: #FE0078;
    border-radius: 20px;    
    margin-left: auto;
    margin-bottom: 64px;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    text-align: center;
    border: 0px;
}
