* {
    border: 1px solid black;
    margin: 0px;
    padding: 0px;
}

/* BODY */

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #E5E5E5;
}



/* HEADER */

header {
    display: flex;
    height: 70px;
    /* width: 1440px; */
    left: 0px;
    top: 0px;
    border-radius: 0px;
    /* border: 1px solid black; */
    background: #FFFFFF;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.12);
    color: #545454;
}

#logo {
    width: 218px;;
    margin-left: 140px;
    margin-right: auto;
}

#menu {
    display: flex;
    align-items: center;
    margin: 0px;
    margin-left: auto;
    margin-right: 170px;
}

#menu li {
    text-align: center;
    text-decoration: none;
    list-style-type: none;
    width: fit-content;
}

#menu a {
    text-decoration: none;
    color: #545454;
    margin-left: 48px;
}

#menu a:first-child {
    text-decoration: none;
    color: #545454;
    margin-left: 0px;
}



/* MAIN */

main {
    display: flex;
    height: 2358px;
}




/* MAIN-BLOCK */

.main-block {
    display: flex;
    flex-direction: column;
    margin: 56px 47px auto auto;
}




/* SECTION */

section {
    display: flex;
    flex-direction: column;
    height: 1152px;
    min-width: 730px;
    margin-bottom: 56px;
}




/* COMMENTS */

#comments {
    height: 100px;
    width: 100px;
    width: 730px;
}

#comments h2 {
    margin-bottom: 24px;
}



#data {
    display: flex;
    margin-bottom: 24px;

}

#name h4 {
    margin-bottom: 8px;
}

#email h4 {
    margin-bottom: 8px;
}

#comment {
    display: flex;
    flex-direction: column;
    width: 730px;
}

#comment h4 {
    margin-bottom: 8px;
}

#input-comment {
    width: 730px;
    height: 175px;
    margin-bottom: 48px;
}

#button-comment {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 24px;
    width: 118px;
    height: 43px;
    background: #FE0078;
    border-radius: 20px;    
    margin-left: auto;
}







/* ASIDE */

/* Verificar distância do padding */
#search {
    margin-left: 120px;
    color: #FE0078;
    padding-left: 20px;
    width: 340px;
    height: 52px;
    margin: 20px auto 25px;
    border: 1px solid #FE0078;
    box-sizing: border-box;
    border-radius: 10px;
}

h3 {
    border-left: 3px solid #FE0078;;
    height: 38px;
    display: flex;
    align-items: center;
    padding-left: 11px;
    margin-left: 20px;
}

aside {
    display: flex;
    flex-direction: column;
    height: 1396px;
    width: 380px;
    margin-left: auto;
    top: 126px;
    border-radius: 4px;
    margin-right: 140px;
    /* border: 1px solid black; */
    margin-top: 56px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

.advertising {
    margin: auto auto 32px;
    border: 1px solid black;
    height: 240px;
    width: 340px;
    display: flex;
    align-items: center;
    background: #EEEEEE;
    box-sizing: border-box;
}

.advertising_number {
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 49px;
    letter-spacing: 0em;
    text-align: left;
    color: #545454;
    margin: auto;
}

.aside-title {
    display: flex;
    align-items: center;
    color: #000000;
    margin-bottom: 35px;
    font-weight: 700px;
    font-size: 18px;
}

/* Qual tamanho está correto o de cima ou este ? */
/* .aside-title h3 {
    font-weight: 700px;
    font-size: 18px;
} */

aside ul li {
    list-style-type: none;
    margin-left: 20px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px dashed #EEEEEE;
    align-items: center;
    height: 45px;
    font-weight: 400px;
    font-size: 14px;
}

aside ul li:hover {
    list-style-type: none;
    margin-left: 20px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px dashed #FE0078;
    color: #FE0078;
}

aside ul li span {
    margin-left: 13px;
    color: #545454;

}

/* Como colocar a cor nos dois ao mesmo tempo? */
aside ul li span:hover {
    margin-left: 13px;
    color: #FE0078;
}

#aside-block-01 {
    width: 349px;
    height: 362px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 40px;
}

#aside-block-02 {
    width: 349px;
    height: 860px;
    margin-right: auto;
    margin-left: auto;
}



/* FOOTER */

footer {
    display: flex;
    align-items: center;
    height: 70px;
    /* width: 1440px; */
    left: 0px;
    top: 2358px;
    border-radius: 0px;    
    background-color: #222222;
    color: #FFFFFF;
}

footer p {
    margin: auto;
}